<div >
  <img style = 'border: 3px dashed red' src='http://bit.ly/1eze8aE'>
  <% if @name %>
    <h1>My name is <%=@name%></h1>
  <% else %>
    <h1>Give me a name git </h1>
  <% end %>
  <form action='/named-cat' method="post">
    <input type='text' name='name'>
    <input type='submit' value='Submit'>
  </form>

</div>
